# Python / Django
venv/
env/
.env/
__pycache__/
*.pyc
db.sqlite3
.env
*.env
staticfiles/
.venv/
# Media (User uploads)
media/
backend/media/

# Node / Vue
node_modules/
dist/
npm-debug.log
yarn-error.log
.env.local

# System / IDE
.DS_Store
.vscode/
.idea/
